<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarMaterias(0)" class="form-control" placeholder="Materia a buscar">
                                            <span class="input-group-addon" id="basic-addon1"><img width="20" src="public/images/buscar.png" alt="Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-info" @click="listarMaterias(1)"> 
                                            <img width="20" src="public/images/carga.png" alt="Err">
                                            Recargar
                                        </button>
                                        <button type="button" class="btn btn-success" @click="abrirModal('Registrar materia.', 'cre')"> 
                                            <img width="20" src="public/images/mas.png" alt="Err">
                                            Nuevo 
                                        </button>
                                    </div>
                                </div>    
                            </div>
                            <div class="card-body">
                                <div class="row"  style="margin-top:2%">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <font size=3>Materias registradas: {{paginacion.total}}</font>
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Clave</th>
                                                    <th>Materia</th>
                                                    <th>Creditos</th>
                                                    <th>Carrera</th>
                                                    <th>Semestre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in materias">
                                                    <td width="15%">
                                                        <button type="button" class="btn btn-link btn-sm" @click="abrirModal('Actualizar materia', 'upd', item)"> 
                                                            <div v-show="false"> {{data= "Actualizar " + item.materia}} </div>
                                                            <img width="20" src="public/images/ajustes.png" alt="Err" :title="data">
                                                        </button>
                                                    </td>
                                                    <td v-text="item.clave">  </td>  
                                                    <td v-text="item.materia">  </td>  
                                                    <td v-text="item.creditos">  </td>  
                                                    <td v-text="item.carrera">  </td>  
                                                    <td v-text="item.semestre">  </td>  
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">
                                                        <img width="17" src="public/images/previous.png" alt="Err" title="Anterior">
                                                    </a>
                                                </li>
                                                <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                                </li>
                                                <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">
                                                        <img width="17" src="public/images/next.png" alt="Err" title="Siguiente">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="flag_nuevo == 1">
                    <div style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <center> <font v-text="titulo_modal" size="5"> </font> </center>
                                    <table class="table" style="margin-top:3%;">
                                        <tr v-if="accion == 1">
                                            <td>    <b><font size="3"> Clave: </font></b>    </td>
                                            <td>    <input type="text" v-model="clave" class="form-control" placeholder="Clave de la materia" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Materia: </font></b>    </td>
                                            <td>    <input type="text" v-model="materia" class="form-control" placeholder="Nombre de la materia" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Creditos: </font></b>    </td>
                                            <td>    
                                                <select v-model="creditos" class="form-control">
                                                    <option value="0">Selecciona cantidad de créditos</option>
                                                    <option value="3"> 3 </option>
                                                    <option value="4"> 4 </option>
                                                    <option value="5"> 5 </option>
                                                    <option value="10"> 10 </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Carrera: </font></b>    </td>
                                            <td>
                                                <select class="form-control" v-model="id_carrera">
                                                    <option value="0">Selecciona carrera</option>
                                                    <option v-for="item in  carreras" v-text="item.carrera" :value="item.id"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Semestre: </font></b>    </td>
                                            <td>
                                                <select class="form-control" v-model="id_semestre">
                                                    <option value="0">Selecciona semestre</option>
                                                    <option v-for="item in semestres" v-text="item.semestre" :value="item.id"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div style="margin-top:2%;">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==1" @click="registro()">Registrar</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizacion()">Actualizar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposMateria    from '@/tipos/materia';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                clave: '',
                materia: '',
                creditos: 0,
                id_carrera: 0,
                id_semestre: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                area: '',
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                materias: tiposMateria.getters.materias,
                semestres: tiposMateria.getters.semestres,
                carreras: tiposMateria.getters.carreras,
                paginacion: tiposMateria.getters.paginacion,
            } ),
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            ...mapActions( {
                fetchMaterias: tiposMateria.actions.fetchMaterias,
                fetchSemestres: tiposMateria.actions.fetchSemestres,
                fetchCarreras: tiposMateria.actions.fetchCarreras,
                registrar: tiposMateria.actions.registrar,
                actualizar: tiposMateria.actions.actualizar,
            } ),
            init() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.area = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.clave = '';
                this.materia = '';
                this.creditos = 0;
                this.id_carrera = 0
                this.id_semestre = 0;
                this.listarMaterias()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.clave = data.clave;
                    this.materia = data.materia;
                    this.creditos = data.creditos;
                    this.id_carrera = data.id_carrera;
                    this.id_semestre = data.id_semestre;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchMaterias( data );
            },
            listarMaterias( tipo ) {
                this.buscar = tipo == 1 ? '' : this.buscar;
                let data = {
                    pagina:  1,
                    buscar: this.buscar
                }
                this.fetchMaterias(data);
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.clave) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa la clave de la materia');
                }
                if(!me.materia) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre de la materia');
                }
                if(me.creditos == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona los creditos de la materia');
                }
                if(me.id_carrera == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona la carrera de la materia');
                }
                if(me.id_semestre == 0) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona el semestre de la materia');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    let data = {
                        clave:  this.clave,
                        materia: this.materia,
                        creditos: this.creditos,
                        id_carrera: this.id_carrera,
                        id_semestre: this.id_semestre,
                    }
                    this.registrar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            actualizacion() {
                if( this.validar() ) {
                    let data = {
                        clave:  this.clave,
                        materia: this.materia,
                        creditos: this.creditos,
                        id_carrera: this.id_carrera,
                        id_semestre: this.id_semestre,
                    }
                    this.actualizar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },  
        },
        mounted() {
            this.fetchMaterias( 1, '' );
            this.fetchSemestres();
            this.fetchCarreras();
        }
    }
</script>