<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type='img/png' href="./static/favicon.ico">
    <title> Cursos de Verano ITCh </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <meta name="csrf-token" content="{{ csrf_token() }}">
  </head>
  <body>
    
    <div id="app">
    </div>

    <script src="/dist/build.js"></script>
  </body>
</html>