<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarSemestres(0)" class="form-control" placeholder="Semestre a buscar">
                                            <span class="input-group-addon" id="basic-addon1"><img width="20" src="public/images/buscar.png" alt="Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-info" @click="listarSemestres(1)"> 
                                            <img width="20" src="public/images/carga.png" alt="Err">
                                            Recargar
                                        </button>
                                        <button type="button" class="btn btn-success" @click="abrirModal('Registrar semestre.', 'cre')"> 
                                            <img width="20" src="public/images/mas.png" alt="Err">
                                            Nuevo
                                        </button>
                                    </div>
                                </div>    
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top:2%" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <font size=3>Semestres registrados: {{paginacion.total}}</font>
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Semestre</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in semestres">
                                                    <td width="15%">
                                                        <button type="button" class="btn btn-link btn-sm" @click="abrirModal('Actualizar semestre', 'upd', item)"> 
                                                            <div v-show="false"> {{data= "Actualizar " + item.semestre}} </div>
                                                            <img width="20" src="public/images/ajustes.png" alt="Err" :title="data">
                                                        </button>
                                                    </td>
                                                    <td v-text="item.semestre">  </td>  
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">
                                                        <img width="17" src="public/images/previous.png" alt="Err" title="Anterior">
                                                    </a>
                                                </li>
                                                <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                                </li>
                                                <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">
                                                        <img width="17" src="public/images/next.png" alt="Err" title="Siguiente">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="flag_nuevo == 1">
                    <div style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <center> <font v-text="titulo_modal" size="5"> </font> </center>
                                    <table class="table" style="margin-top:3%;">
                                        <tr>
                                            <td>    <b><font size="3"> Semestre: </font></b>    </td>
                                            <td>    <input type="text" v-model="semestre" class="form-control" placeholder="Descripcion del semestre">   </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div style="margin-top:2%;">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==1" @click="registro()">Registrar</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizacion()">Actualizar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposSemestre    from '@/tipos/semestre';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                id: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                semestre: '',
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                semestres: tiposSemestre.getters.semestres,
                paginacion: tiposSemestre.getters.paginacion,
            } ),
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            ...mapActions( {
                fetchSemestres: tiposSemestre.actions.fetchSemestres,
                registrar: tiposSemestre.actions.registrar,
                actualizar: tiposSemestre.actions.actualizar,
            } ),
            init() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.semestre = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.listarSemestres()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.id = data.id;
                    this.semestre = data.semestre;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchSemestres( data );
            },
            listarSemestres( tipo ) {
                this.buscar = tipo == 1 ? '' : this.buscar;
                let data = {
                    pagina:  1,
                    buscar: this.buscar
                }
                this.fetchSemestres(data);
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.semestre) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa descripcion del semestre');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    this.registrar( this.semestre )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            actualizacion() {
                if( this.validar() ) {
                    let data = {
                        id:  this.id,
                        semestre: this.semestre
                    }
                    this.actualizar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },  
        },
        mounted() {
            let data = { pagina:  1, buscar: '' }
            this.fetchSemestres( data );
        }
    }
</script>