<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:0%;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="margin-bottom:2%;">
                                    <div class="col-md-12">
                                        <h3 style="color:#666; text-align:center"> Lista de la materia:  {{materia}}</h3>
                                    </div>
                                </div>
                                <div class="row" v-if="!lista.length">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <div style="float:left;">
                                            <div class="input-group">
                                                <input type="text" class="form-control" v-model="matricula_estudiante" @keyup.enter="buscarEstudiante(matricula_estudiante)" placeholder="Matrícula del estudiante">
                                                <span class="input-group-addon" id="basic-addon1"><img width="20" src="public/images/buscar.png" alt="Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div v-if="estudiante[0]">
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Matricula</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Telefono</th>
                                                </tr>
                                                <tr>
                                                    <td v-text="estudiante[0].matricula"> </td>
                                                    <td v-text="estudiante[0].estudiante"> </td>
                                                    <td v-text="estudiante[0].email"> </td>
                                                    <td v-text="estudiante[0].telefono"> </td>
                                                    <td>
                                                        <button class="btn btn-link btn-xs">
                                                            <img @click="agregarEstudiante(estudiante[0])" width="25" src="public/images/add.png" alt="Err" title="Agregar estudiante a la lista">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row" style="margin-top:2%"> <!-- LISTADO DE ESTUDIANTES A AGREGAR A LA MATERIA -->
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <center>
                                            <font size=3>Estudiantes en lista: {{ lista_estudiantes }}</font>
                                            <table v-if="lista_estudiantes.length >= 1" class="table table-striped table-sm" style="width: 70%">
                                                <thead>
                                                    <tr>
                                                        <th>Matricula</th>
                                                        <th>Nombre</th>
                                                        <th>Email</th>
                                                        <th>Telefono</th>
                                                        <th>Carrera</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(item, index) in lista_estudiantes">
                                                        <td v-text="item.matricula"></td>  
                                                        <td v-text="item.estudiante"></td>  
                                                        <td v-text="item.email"></td>  
                                                        <td v-text="item.telefono"></td>  
                                                        <td v-text="item.carrera"></td>  
                                                        <td>
                                                            <button class="btn btn-link btn-xs">
                                                                <img @click="quitarDeLista(index)" width="25" src="public/images/quitar.png" alt="Err" title="Agregar estudiante a la lista">
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <button class="btn btn-success btn-block" @click="listarMateria()"> Agregar listado </button> 
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-danger" href="#/materias-solicitadas-coordinador"> Atrás </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row" v-if="lista.length"> <!-- LISTADO DE ESTUDIANTES QUE ESTAN EN LA MATERIA -->
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <table class="table table-striped table-sm" v-if="lista.length">
                                            <thead>
                                                <tr>
                                                    <th>Matricula</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Telefono</th>
                                                    <th>Carrera</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in lista">
                                                    <td v-text="item.estudiante_matricula">  </td>  
                                                    <td v-text="item.estudiante_nombre">  </td>  
                                                    <td v-text="item.estudiante_email">  </td>  
                                                    <td v-text="item.estudiante_telefono">  </td>  
                                                    <td v-text="item.estudiante_carrera">  </td>  
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <a class="btn btn-danger" href="#/materias-solicitadas-coordinador"> Atrás </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <center v-else>     <h1>La materia aún no tiene alumnos registrados</h1>    </center>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="form-group row" v-if="!lista.length && !lista_estudiantes.length">
                                <div class="col-md-9"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-danger" href="#/materias-solicitadas-coordinador"> Atrás </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposMateriaSolicitadaJefe    from '@/tipos/materia_solicitada_jefe';
    import tiposMateriaSolicitadaCoordinador    from '@/tipos/materia_solicitada_coordinador';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                id: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                accion: 0,
                flag_nuevo: 0,
                materia: '',
                matricula_estudiante: '', 
                lista_estudiantes: [],
                clave_materia: ''
            }
        },
        computed: {
            ...mapGetters( {
                lista: tiposMateriaSolicitadaJefe.getters.lista,
                estudiante: tiposMateriaSolicitadaCoordinador.getters.estudiante,
            } ),
        },
        methods: {
            ...mapActions( {
                fetchListaMateria: tiposMateriaSolicitadaJefe.actions.fetchListaMateria,
                fetchEstudiante: tiposMateriaSolicitadaCoordinador.actions.fetchEstudiante,
                fetchCantidadEstudiantes: tiposMateriaSolicitadaCoordinador.actions.fetchCantidadEstudiantes,
                fetchRegistrarListado: tiposMateriaSolicitadaCoordinador.actions.fetchRegistrarListado,
            } ),
            init() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.area) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre del area');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    this.registrar( this.area )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            buscarEstudiante(  ) {
                if ( this.matricula_estudiante ) this.fetchEstudiante( this.matricula_estudiante );
                else this.fetchEstudiante( 0 );
            },
            agregarEstudiante( data ) {
                for (let i = 0; i < this.lista_estudiantes.length; i++) {
                    if(data.matricula == this.lista_estudiantes[i].matricula)
                        return alert( 'El estudiante ya se encuenta agregado a la lista.' );
                }
                this.lista_estudiantes.push( data );
                this.fetchEstudiante( 0 );
                this.matricula_estudiante = '';
            },
            quitarDeLista(index) {
                this.lista_estudiantes.splice(index, 1);
            },
            listarMateria() {
                let lista = [];
                for(let i=0; i<this.lista_estudiantes.length; i++) 
                    lista.push( this.lista_estudiantes[i].matricula );
                let data = {
                    id_materia: this.$route.params.id,
                    clave_materia: this.$route.params.clave,
                    lista
                }
                this.fetchRegistrarListado( data )
                    .then( result => { 
                        alert('Lista registrada');
                        window.location="#/materias-solicitadas-coordinador";
                    } )
                    .catch( err => { console.log('Error: ' + err) } );
            }
        },
        mounted() {
            this.fetchListaMateria( this.$route.params.id );
            this.materia = this.$route.params.materia;
        }
    }
</script>