<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template  v-if="lista == 0">
                    <div class="container-fluid">
                        <div class="card" v-if="materias.length >= 1" > <br>
                            <div class="card-body">
                                <center>
                                    <table class="table table-bordered table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <th>Clave</th>
                                                <th>Materia</th>
                                                <th>Carrera</th>
                                                <th>Estado</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in materias">
                                                <td v-text="item.clave_materia"></td>  
                                                <td v-text="item.materia"></td>  
                                                <td v-text="item.carrera"></td>  
                                                <td>
                                                    <label v-if="item.aprobada==1" class="label label-success" style="width:100%"> Aprobada </label>
                                                    <label v-if="item.aprobada==0" class="label label-danger" style="width:100%"> No aprobada </label>
                                                    <label v-if="item.aprobada==2" class="label label-warning" style="width:100%"> Pendiente </label>
                                                </td>
                                                <td>    <a v-if="item.aprobada == 2 || item.aprobada == 1" class="btn btn-primary btn-sm btn-block" :href="'#/materias-solicitadas-coordinador/lista/' + item.id_materia_solicitada + '/' + item.clave_materia + '/' + item.materia"> Listado </a>  </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </center>
                            </div>
                        </div>
                        <h4 v-else class="text-center"> Aún no has solicitado materias. </h4> 
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposAuth from '@/tipos/auth';
    import tiposMateriaSolicitadaCoordinador    from '@/tipos/materia_solicitada_coordinador';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: 'materias-solicitadas-coordinador',
        data() {
            return {
                lista: 0
            }
        },
        computed: {
            ...mapGetters( {
                credenciales: tiposAuth.getters.credenciales,
                materias: tiposMateriaSolicitadaCoordinador.getters.materias_solicitadas,
            } ),
        },
        methods: {
            ...mapActions( {
                fetchMateriasSolicitadas: tiposMateriaSolicitadaCoordinador.actions.fetchMateriasSolicitadas,
            } ),
        },
        mounted() {   
            this.fetchMateriasSolicitadas( this.credenciales.id );
        }
    }
</script>