<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="accion == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">    
                                    <div class="col-md-12">
                                        <font size=3>Materias solicitadas: {{paginacion.total}}</font>
                                        <table class="table table-striped table-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Clave</th>
                                                    <th>Materia</th>
                                                    <th colspan="2">Coordinador</th>
                                                    <th>Carrera</th>
                                                    <th>Profesor</th>
                                                    <th colspan="2">Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in materias_solicitadas_jefe">
                                                    <td v-text="item.id"></td>  
                                                    <td v-text="item.clave_materia"></td>  
                                                    <td v-text="item.materia"></td>  
                                                    <td v-text="item.name"></td>  
                                                    <td v-text="item.email"></td>  
                                                    <td v-text="item.carrera"></td>  
                                                    <td v-if="item.clave_profesor" v-text="item.nombre_profesor"></td>  
                                                    <td v-else>
                                                        <span class="badge badge-secondary" style="width:100%"> Sin profesor asignado </span>
                                                    </td>
                                                    <td>
                                                        <img v-if="item.aprobada==1" width="25" src="public/images/good.png" alt="Err" title="Aceptada">
                                                        <img v-if="item.aprobada==0" width="25" src="public/images/error.png" alt="Err" title="No aprobada">
                                                        <img v-if="item.aprobada==2" width="25" src="public/images/check.png" alt="Err" title="Pendiente">
                                                    </td>
                                                    <td> 
                                                        <button class="btn btn-primary btn-sm" @click="verDetalle(item)"> Ver detalle </button> 
                                                        <button v-if="item.aprobada==1" class="btn btn-link btn-sm" @click="generarPDF(item)"> 
                                                            <img width="27" src="public/images/pdf.png" alt="Err" title="PDF">
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">
                                                        <img width="17" src="public/images/previous.png" alt="Err" title="Anterior">
                                                    </a>
                                                </li>
                                                <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                                </li>
                                                <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">
                                                        <img width="17" src="public/images/next.png" alt="Err" title="Siguiente">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="accion == 1">
                    <div class="container-fluid">
                        <div class="card">
                            <div class="card-header"> 
                                <h3 style="color:#666; text-align:center"> Detalle de la materia solicitada </h3>
                            </div>
                            <div class="card-body">
                                <center>
                                    <table class="table  table-striped table-sm" style="width: 70%">
                                        <thead>
                                            <tr>
                                                <td colspan="5"> 
                                                    <h4>Materia</h4> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Clave: </th>
                                                <td v-text="clave_materia"></td>
                                                <td></td>
                                                <th>Materia:</th>
                                                <td v-text="materia"></td>
                                            </tr>
                                            <tr>
                                                <th>Estado:</th>
                                                <td>
                                                    <label v-if="estado == 0" class="label label-danger">No aprobada</label>
                                                    <label v-if="estado == 1" class="label label-success">Aprobada</label>
                                                    <label v-if="estado == 2" class="label label-warning">Pendiente</label>
                                                </td>
                                                <td></td>
                                                <th>Creditos:</th>
                                                <td v-text="creditos"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <h4>Carrera</h4> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Carrera:</th>
                                                <td v-text="carrera"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <h4>Coordinador</h4> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Coordinador:</th>
                                                <td v-text="coordinador"></td>
                                                <td></td>
                                                <th>Email:</th>
                                                <td v-text="email"></td>
                                            </tr>
                                            <tr>
                                                <th>Direccion:</th>
                                                <td v-text="direccion"></td>
                                                <td></td>
                                                <th>Telefono:</th>
                                                <td v-text="telefono"></td>
                                            </tr>
                                            <tr v-if="estado == 2 || estado == 1">
                                                <td colspan="5">
                                                    <h4>Profesor</h4> 
                                                </td>
                                            </tr>
                                            <tr v-if="estado == 2">
                                                <th>Profesor:</th>
                                                <td>
                                                    <select class="form-control" v-model="profesor">
                                                        <option value="0">Selecciona profesor</option> 
                                                        <option v-for="item in profesores" v-text="item.profesor" v-bind:value="item"></option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr v-if="estado == 1 || clave_profesor != null">
                                                <th>Clave</th>
                                                <th>Nombre</th>
                                                <th>Email</th>
                                                <th>Telefono</th>
                                                <th>Area</th>
                                            </tr>
                                            <tr v-if="estado == 1">
                                                <td v-text="clave_profesor"></td>
                                                <td v-text="nombre_profesor"></td>
                                                <td v-text="email_profesor"></td>
                                                <td v-text="telefono_profesor"></td>
                                                <td v-text="area_profesor"></td>
                                            </tr>
                                            <tr v-if="estado == 2">
                                                <td v-text="profesor.clave"></td>
                                                <td v-text="profesor.profesor"></td>
                                                <td v-text="profesor.email"></td>
                                                <td v-text="profesor.telefono"></td>
                                                <td v-text="profesor.area"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <div style="float:right">
                                                        <button v-if="estado == 2" class="btn btn-success btn-sm" @click="aprobar(1)">Aprobar</button>
                                                        <button v-if="estado == 2" class="btn btn-warning btn-sm" @click="aprobar(0)">No aprobar</button>
                                                        <a class="btn btn-primary btn-sm" :href="'#/materias-solicitadas-jefe/lista/' + id"> Ver lista </a>
                                                        <button class="btn btn-danger btn-sm" @click="atras()">Atrás</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>    
                                    </table>
                                </center>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposMateriaSolicitada    from '@/tipos/materia_solicitada_jefe';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                profesor: 0,
                id: 0,
                id_profesor: 0,
                clave_materia: '',
                materia: '',
                creditos: 0,
                carrera: '',
                coordinador: '',
                email: '',
                direccion: '',
                telefono: '',
                estado: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                area: '',
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                materias: tiposMateriaSolicitada.getters.materias,
                materias_solicitadas_jefe: tiposMateriaSolicitada.getters.materias_solicitadas_jefe,
                paginacion: tiposMateriaSolicitada.getters.paginacion,
                profesores: tiposMateriaSolicitada.getters.profesores,
            } ),
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            ...mapActions( {
                fetchMateriasSolicitadasJefe: tiposMateriaSolicitada.actions.fetchMateriasSolicitadasJefe,
                fetchProfesores: tiposMateriaSolicitada.actions.fetchProfesores,
                aprobarMateria: tiposMateriaSolicitada.actions.aprobarMateria,
            } ),
            generarPDF( item ) {
                window.open( 'http://192.168.1.67:8000/materias_solicitadas/pdf/' + item.id, '_blank' );
            },
            aprobar( estado ){
                let data = {
                    clave:  this.id,
                    estado: estado,
                    clave_profesor: this.profesor.clave
                }
                if( estado == 0 ) {
                    this.aprobarMateria( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                    return;
                }
                if( this.profesor == 0 ) return alert( 'Selecciona el profesor de la materia.' );
                this.aprobarMateria( data )
                    .then( result => { this.init(); } )
                    .catch( err => { console.log('Error: ' + err) } );
            },
            verDetalle( item ) {
                this.id = item.id;
                this.clave_materia = item.clave_materia;
                this.materia = item.materia;
                this.carrera = item.carrera;
                this.creditos = item.creditos;
                this.coordinador = item.name;
                this.email = item.email;
                this.direccion = item.direccion;
                this.telefono = item.telefono;
                this.estado = item.aprobada;
                this.clave_profesor = item.clave_profesor;
                this.nombre_profesor = item.nombre_profesor;
                this.email_profesor = item.email_profesor;
                this.telefono_profesor = item.telefono_profesor;
                this.area_profesor = item.area;
                this.accion = 1;
                if( this.estado == 2 )
                    this.fetchProfesores();
            },
            atras() {
                this.accion = 0;
                this.id = 0;
                this.estado = 0;
                this.clave_materia = '';
                this.profesor = 0;
                this.telefono_profesor = '';
                this.telefono = '';
                this.direccion = '';
                this.email = '';
                this.coordinador = '';
                this.materia = '';
                this.carrera = '';
                this.creditos = 0;
            },
            init() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.area = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.carrera = '';
                this.clave_materia = '';
                this.coordinador = '';
                this.creditos = 0;
                this.direccion = '';
                this.email = '';
                this.estado = 0;
                this.materia = '';
                this.profesor = 0;
                this.telefono = '';
                this.listarMateriasSolicitadas()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.id = data.id;
                    this.area = data.area;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchMateriasSolicitadasJefe( data );
            },
            listarMateriasSolicitadas( tipo ) {
                this.buscar = tipo == 1 ? '' : this.buscar;
                let data = {
                    pagina:  1,
                    buscar: this.buscar
                }
                this.fetchMateriasSolicitadasJefe(data);
            },
            getDatosProfesor(valor) {
                if(valor){
                    this.loading = true;
                    this.clave_profesor = valor.clave;
                    this.nombre_profesor = valor.profesor;
                    this.telefono_profesor = valor.telefono;
                    this.email_profesor = valor.email;
                    this.area_profesor = valor.area;
                }
                else{
                    this.loading = false;
                    this.clave_profesor = null;
                    this.nombre_profesor = '';
                    this.telefono_profesor = '';
                    this.email_profesor = '';
                    this.area_profesor = '';
                }
            },  
        },
        mounted() {
            let data = {
                pagina:  1,
            }
            this.fetchMateriasSolicitadasJefe( data );
        }
    }
</script>

<style>
    h4{
        color: #3D3D3F; 
        background: #E1E3E8; 
        padding: 1%; 
        text-align:center
    }
</style>