<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <font size=3>Estudiantes en lista: {{lista.length}}</font>
                                        <table class="table table-striped table-sm" v-if="lista.length">
                                            <thead>
                                                <tr>
                                                    <th>Matricula</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Telefono</th>
                                                    <th>Carrera</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in lista">
                                                    <td v-text="item.estudiante_matricula">  </td>  
                                                    <td v-text="item.estudiante_nombre">  </td>  
                                                    <td v-text="item.estudiante_email">  </td>  
                                                    <td v-text="item.estudiante_telefono">  </td>  
                                                    <td v-text="item.estudiante_carrera">  </td>  
                                                </tr>
                                            </tbody>
                                        </table>
                                        <center v-else>     <h1>La materia aún no tiene alumnos registrados</h1>    </center>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-danger" href="#/materias-solicitadas-jefe"> Atrás </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposMateriaSolicitadaJefe    from '@/tipos/materia_solicitada_jefe';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                id: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                area: '',
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                lista: tiposMateriaSolicitadaJefe.getters.lista,
            } ),
        },
        methods: {
            ...mapActions( {
                fetchListaMateria: tiposMateriaSolicitadaJefe.actions.fetchListaMateria,
            } ),
            init() {
                this.id = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.area = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.listarAreas()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.id = data.id;
                    this.area = data.area;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchAreas( data );
            },
            listarAreas( tipo ) {
                this.buscar = tipo == 1 ? '' : this.buscar;
                let data = {
                    pagina:  1,
                    buscar: this.buscar
                }
                this.fetchAreas(data);
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.area) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre del area');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    this.registrar( this.area )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            actualizacion() {
                if( this.validar() ) {
                    let data = {
                        id:  this.id,
                        area: this.area
                    }
                    this.actualizar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },  
        },
        mounted() {
            this.fetchListaMateria( this.$route.params.id );
        }
    }
</script>