<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header"> 
                            <h3 style="color:#666; text-align:center"> Plan de estudio </h3>
                        </div>
                        <div class="card-body">
                            <center>
                                <table class="table table-bordered table-striped table-sm" style="width: 60%">
                                    <tbody>
                                        <tr v-for="item in carreras">
                                            <td>
                                                <a class="btn btn-success" style="width: 100%" :href="'#/curriculum/' + item.id"> {{ item.carrera }} </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposMateriaSolicitadaCoordinador    from '@/tipos/materia_solicitada_coordinador';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                accion: 0,
            }
        },
        computed: {
            ...mapGetters( {
                carreras: tiposMateriaSolicitadaCoordinador.getters.carreras,
            } ),
        },
        methods: {
            ...mapActions( {
                fetchCarreras: tiposMateriaSolicitadaCoordinador.actions.fetchCarreras,
            } ),
        },
        mounted() {
            this.fetchCarreras( );
        }
    }
</script>