<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarProfesores(0)" class="form-control" placeholder="Profesor a buscar">
                                            <span class="input-group-addon" id="basic-addon1"><img width="20" src="public/images/buscar.png" alt="Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-info" @click="listarProfesores(1)"> 
                                            <img width="20" src="public/images/carga.png" alt="Err">
                                            Recargar
                                        </button>
                                        <button type="button" class="btn btn-success" @click="abrirModal('Registrar profesor.', 'cre')"> 
                                            <img width="20" src="public/images/mas.png" alt="Err">
                                            Nuevo
                                        </button>
                                    </div>
                                </div>    
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top:2%" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <font size=3>Profesores registrados: {{paginacion.total}}</font>
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Clave</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Telefono</th>
                                                    <th>Area</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in profesores">
                                                    <td width="20%">
                                                        <button type="button" class="btn btn-link btn-sm" @click="abrirModal('Actualizar profesor', 'upd', item)"> 
                                                            <div v-show="false"> {{data= "Actualizar " + item.profesor}} </div>
                                                            <img width="20" src="public/images/ajustes.png" alt="Err" :title="data">
                                                        </button>
                                                        <button v-if="item.estado" type="button" class="btn btn-danger btn-sm" @click="activacion(item.clave, 0)"> Dar de baja </button>
                                                        <button v-else type="button" class="btn btn-success btn-sm" @click="activacion(item.clave, 1)"> Dar de Alta </button>
                                                    </td>
                                                    <td v-text="item.clave">  </td>  
                                                    <td v-text="item.profesor">  </td>  
                                                    <td v-text="item.email">  </td>  
                                                    <td v-text="item.telefono">  </td>  
                                                    <td v-text="item.area">  </td>  
                                                    <td> 
                                                        <img v-if="item.estado" width="25" src="public/images/alta.png" alt="Err" title="Alta">
                                                        <img v-else width="25" src="public/images/baja.png" alt="Err" title="Baja">
                                                    </td>  
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">
                                                        <img width="17" src="public/images/previous.png" alt="Err" title="Anterior">
                                                    </a>
                                                </li>
                                                <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                                </li>
                                                <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">
                                                        <img width="17" src="public/images/next.png" alt="Err" title="Siguiente">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="flag_nuevo == 1">
                    <div style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <center> <font v-text="titulo_modal" size="5"> </font> </center>
                                    <table class="table" style="margin-top:3%;">
                                        <tr v-if="accion==1">
                                            <td>    <b><font size="3"> Clave: </font></b>    </td>
                                            <td>    <input type="text" v-model="clave" class="form-control" placeholder="Clave del profesor" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Nombre: </font></b>    </td>
                                            <td>    <input type="text" v-model="profesor" class="form-control" placeholder="Nombre del profesor" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Email: </font></b>    </td>
                                            <td>    <input type="text" v-model="email" class="form-control" placeholder="Email del profesor" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Telefono: </font></b>    </td>
                                            <td>    <input type="text" v-model="telefono" class="form-control" placeholder="Telefono del profesor" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Area: </font></b>    </td>
                                            <td>    
                                                <select class="form-control" v-model="id_area">
                                                    <option value="0">Selecciona area</option>
                                                    <option v-for="item in areas" v-text="item.area" :value="item.id"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div style="margin-top:2%;">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==1" @click="registro()">Registrar</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizacion()">Actualizar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposProfesor    from '@/tipos/profesor';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                clave: '',
                profesor: '',
                telefono: '',
                email: '',
                id_area: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                profesores: tiposProfesor.getters.profesores,
                paginacion: tiposProfesor.getters.paginacion,
                areas: tiposProfesor.getters.areas,
            } ),
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            ...mapActions( {
                fetchProfesores: tiposProfesor.actions.fetchProfesores,
                fetchAreas: tiposProfesor.actions.fetchAreas,
                registrar: tiposProfesor.actions.registrar,
                actualizar: tiposProfesor.actions.actualizar,
                activar: tiposProfesor.actions.activar,
            } ),
            init() {
                this.clave = '';
                this.telefono = '';
                this.email = '';
                this.id_area = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.profesor = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.listarProfesores()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.clave = data.clave;
                    this.profesor = data.profesor;
                    this.email = data.email;
                    this.telefono = data.telefono;
                    this.id_area = data.id_area;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchProfesores( data );
            },
            listarProfesores( tipo ) {
                this.buscar = tipo == 1 ? '' : this.buscar;
                let data = {
                    pagina:  1,
                    buscar: this.buscar
                }
                this.fetchProfesores(data);
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.clave) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa clave del profesor');
                }
                if(!me.profesor) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre del profesor');
                }
                if(!me.id_area) {
                    me.error = 1;
                    me.errores.push('(*) Selecciona area del profesor');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    let data = {
                        clave:  this.clave,
                        nombre: this.profesor,
                        telefono: this.telefono,
                        email: this.email,
                        id_area: this.id_area,
                    }
                    this.registrar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            actualizacion() {
                if( this.validar() ) {
                    let data = {
                        clave:  this.clave,
                        nombre: this.profesor,
                        telefono: this.telefono,
                        email: this.email,
                        id_area: this.id_area,
                    }
                    this.actualizar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            activacion( clave, estado ) {
                let data = {
                    clave,
                    estado
                }
                this.activar( data )
                    .then( result => { this.init(); } )
                    .catch( err => { console.log('Error: ' + err) } );
            }
        },
        mounted() {
            this.fetchProfesores( 1, '' );
            this.fetchAreas();
        }
    }
</script>