<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" v-model="buscar" @keyup.enter="listarEstudiantes(0)" class="form-control" placeholder="Estudiante a buscar">
                                            <span class="input-group-addon" id="basic-addon1"><img width="20" src="public/images/buscar.png" alt="Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-info" @click="listarEstudiantes(1)"> 
                                            <img width="20" src="public/images/carga.png" alt="Err">
                                            Recargar
                                        </button>
                                        <button type="button" class="btn btn-success" @click="abrirModal('Registrar estudiante.', 'cre')">
                                            <img width="20" src="public/images/mas.png" alt="Err">
                                            Nuevo
                                        </button>
                                    </div>
                                </div>    
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top:2%" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <font size=3>Estudiantes registrados: {{paginacion.total}}</font>
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Matricula</th>
                                                    <th>Nombre</th>
                                                    <th>Email</th>
                                                    <th>Telefono</th>
                                                    <th>Carrera</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in estudiantes">
                                                    <td width="15%">
                                                        <button type="button" class="btn btn-link btn-sm" @click="abrirModal('Actualizar estudiante', 'upd', item)">
                                                            <div v-show="false"> {{data= "Actualizar " + item.estudiante}} </div>
                                                            <img width="20" src="public/images/ajustes.png" alt="Err" :title="data">
                                                        </button>
                                                    </td>
                                                    <td v-text="item.matricula">  </td>  
                                                    <td v-text="item.estudiante">  </td>  
                                                    <td v-text="item.email">  </td>  
                                                    <td v-text="item.telefono">  </td>  
                                                    <td v-text="item.carrera">  </td>  
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">
                                                        <img width="17" src="public/images/previous.png" alt="Err" title="Anterior">
                                                    </a>
                                                </li>
                                                <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                                </li>
                                                <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">
                                                        <img width="17" src="public/images/next.png" alt="Err" title="Siguiente">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="flag_nuevo == 1">
                    <div style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <center> <font v-text="titulo_modal" size="5"> </font> </center>
                                    <table class="table" style="margin-top:3%;">
                                        <tr v-if="accion == 1">
                                            <td>    <b><font size="3"> Matricula: </font></b>    </td>
                                            <td>    <input type="text" v-model="matricula" class="form-control" placeholder="Matricula del estudiante">   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Nombre: </font></b>    </td>
                                            <td>    <input type="text" v-model="estudiante" class="form-control" placeholder="Nombre del estudiante">   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Email: </font></b>    </td>
                                            <td>    <input type="text" v-model="email" class="form-control" placeholder="Email del estudiante">   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Telefono: </font></b>    </td>
                                            <td>    <input type="text" v-model="telefono" class="form-control" placeholder="Telefono del estudiante">   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Carrera: </font></b>    </td>
                                            <td>    
                                                <select class="form-control" v-model="id_carrera">
                                                    <option value="0">Selecciona carrera</option>
                                                    <option v-for="item in carreras" v-text="item.carrera" :value="item.id"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div style="margin-top:2%;">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==1" @click="registro()">Registrar</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizacion()">Actualizar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposEstudiante    from '@/tipos/estudiante';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                estudiante: '',
                matricula: '',
                telefono: '',
                email: '',
                id_carrera: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                carrera: '',
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                estudiantes: tiposEstudiante.getters.estudiantes,
                carreras: tiposEstudiante.getters.carreras,
                paginacion: tiposEstudiante.getters.paginacion,
            } ),
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            ...mapActions( {
                fetchEstudiantes: tiposEstudiante.actions.fetchEstudiantes,
                fetchCarreras: tiposEstudiante.actions.fetchCarreras,
                registrar: tiposEstudiante.actions.registrar,
                actualizar: tiposEstudiante.actions.actualizar,
            } ),
            init() {
                this.id_carrera = 0;
                this.matricula = '';
                this.estudiante = '';
                this.telefono = '';
                this.email = '';
                this.modal = 0;
                this.titulo_modal = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.listarEstudiantes()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.id_carrera = data.id_carrera;
                    this.estudiante = data.estudiante;
                    this.matricula = data.matricula;
                    this.email = data.email;
                    this.telefono = data.telefono;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchEstudiantes( data );
            },
            listarEstudiantes( tipo ) {
                this.buscar = tipo == 1 ? '' : this.buscar;
                let data = {
                    pagina:  1,
                    buscar: this.buscar
                }
                this.fetchEstudiantes(data);
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.matricula) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa la matricula del estudiante');
                }
                if(!me.estudiante) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa el nombre del estudiante');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    let data = {
                        matricula:  this.matricula,
                        nombre: this.estudiante,
                        telefono: this.telefono,
                        email: this.email,
                        id_carrera: this.id_carrera,
                    }
                    this.registrar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            actualizacion() {
                if( this.validar() ) {
                    let data = {
                        matricula:  this.matricula,
                        nombre: this.estudiante,
                        telefono: this.telefono,
                        email: this.email,
                        id_carrera: this.id_carrera,
                    }
                    this.actualizar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },  
        },
        mounted() {
            let data = { pagina:  1, buscar: '' }
            this.fetchEstudiantes( data );
            this.fetchCarreras( );
        }
    }
</script>