<template>
    <div class="container">
        <div class="row justify-content-center" style="margin-top:2%">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-body">
                        <center>
                            <img src="public/images/fondo2.jpg" alt="Error" width="40%" class="img-circle">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>