<template>
    <div>
        <div class="container" >
            <div class="row" style="background:white">
                <div class="col-md-12">
					<img src="public/images/logo-tec.jpg" width=100% height='auto'>
				</div>
            </div>
            <div class="row" style="background:white; margin-bottom:1%;">
                <div class="col-md-2"></div>
                <div class="col-md-8" v-if="autenticado">
                    <center>
                        <font size=5> BIENVENIDO {{ (credenciales.rol).toUpperCase() }} </font>
                        <br>
                        <font size=3> Usuario: {{ credenciales.name }} </font>
                    </center>
				</div>
                <div class="col-md-2"></div>
            </div>
            <div v-if="autenticado && credenciales.rol == 'Administrador'">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/">General</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/area">Areas</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/carrera">Carreras</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/semestre">Semestres</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/materia">Materias</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/profesor">Profesores</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/rol">Roles</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/estudiante">Estudiantes</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/usuario">Usuarios</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#" @click.prevent="logout()"> Cerrar sesión de {{ credenciales.email }} </a> 
                    </li>	
                </ul>
            </div>
            <div v-if="autenticado && credenciales.rol == 'Coordinador'">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/">General</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/plan-estudio">Plan de estudio</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/materias-solicitadas-coordinador">Materias solicitadas</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#" @click.prevent="logout()"> Cerrar sesión de {{ credenciales.email }} </a> 
                    </li>	
                </ul>
            </div>
            <div v-if="autenticado && credenciales.rol == 'Jefe de departamento'">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/">General</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#/materias-solicitadas-jefe">Materias solicitadas</a>
                    </li>
                    <li v-if="autenticado" class="nav-item">
                        <a class="nav-link" href="#" @click.prevent="logout()"> Cerrar sesión de {{ credenciales.email }} </a> 
                    </li>	
                </ul>
            </div>
            <div v-if="false">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li @click="menu=5" class="nav-item">
                        <a class="nav-link" href="#">Materias</a>
                    </li>
                    <li @click="menu=13" class="nav-item">
                        <a class="nav-link" href="#">Estudiantes</a>
                    </li>
                    <li @click="menu=8" class="nav-item">
                        <a class="nav-link" href="#">Usuarios</a>
                    </li>	
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import tiposAuth from '@/tipos/auth';
    export default {
        name: 'navegacion',
        methods: {
            ...mapActions( {
                _logout: tiposAuth.actions.logout
            } ),
            logout() {
                this._logout();
                this.$router.push( { path: '/login' } );
            },
        },
        computed: {
            ...mapGetters( {
                autenticado: tiposAuth.getters.autenticado,
                usuario: tiposAuth.getters.usuario,
                credenciales: tiposAuth.getters.credenciales,
            } ),
        },
        mounted() {
        },        
    }
</script>