<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <template v-if="flag_nuevo == 0">
                    <div class="container-fluid" style="margin-top:2%;">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img width="15" src="public/images/buscar.png" alt="Err">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#/usuario" @click="setCriterio(0)">Nombre de usuario</a></li>
                                                    <li><a href="#/usuario" @click="setCriterio(1)">Email</a></li>
                                                </ul>
                                            </div>
                                            <div class="input-group">
                                                <input :placeholder="placeholder_criterio" type="text" class="form-control" aria-label="..." v-model="buscar" @keyup.enter="listarUsuarios(0)" >
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-info" @click="listarUsuarios(1)">
                                            <img width="20" src="public/images/carga.png" alt="Err">
                                            Recargar
                                        </button>
                                        <button type="button" class="btn btn-success" @click="abrirModal('Registrar usuario.', 'cre')">
                                            <img width="20" src="public/images/mas.png" alt="Err">
                                            Nuevo
                                        </button>
                                    </div>
                                </div>    
                            </div>
                            <div class="card-body">
                                <div class="row" style="margin-top:2%" >
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <font size=3>Usuarios registrados: {{paginacion.total}}</font>
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Opciones</th>
                                                    <th>Usuario</th>
                                                    <th>Email</th>
                                                    <th>Telefono</th>
                                                    <th>Direccion</th>
                                                    <th>Rol</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in usuarios">
                                                    <td width="20%">
                                                        <button type="button" class="btn btn-link btn-sm" @click="abrirModal('Actualizar usuario', 'upd', item)"> 
                                                            <div v-show="false"> {{data= "Actualizar " + item.name}} </div>
                                                            <img width="20" src="public/images/ajustes.png" alt="Err" :title="data">    
                                                        </button>
                                                        <button v-if="item.estado" type="button" class="btn btn-danger btn-sm" @click="activacion(item.id, 0)"> Dar de baja </button>
                                                        <button v-else type="button" class="btn btn-success btn-sm" @click="activacion(item.id, 1)"> Dar de Alta </button>
                                                    </td>
                                                    <td v-text="item.name">  </td>  
                                                    <td v-text="item.email">  </td>  
                                                    <td v-text="item.telefono">  </td>  
                                                    <td v-text="item.direccion">  </td>  
                                                    <td v-text="item.rol">  </td>  
                                                    <td>
                                                        <img v-if="item.estado" width="25" src="public/images/alta.png" alt="Err" title="Alta">
                                                        <img v-else width="25" src="public/images/baja.png" alt="Err" title="Baja">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <nav>
                                            <ul class="pagination">
                                                <li class="page-item" v-if="paginacion.pagina_actual > 1">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual - 1, buscar)">
                                                        <img width="17" src="public/images/previous.png" alt="Err" title="Anterior">
                                                    </a>
                                                </li>
                                                <li class="page-item" v-for="pagina in numeroPaginas" :class="[pagina == paginaActiva ? 'active' : '']">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagina, buscar)" v-text="pagina"></a>
                                                </li>
                                                <li class="page-item" v-if="paginacion.pagina_actual < paginacion.ultima_pagina">
                                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(paginacion.pagina_actual + 1, buscar)">
                                                        <img width="17" src="public/images/next.png" alt="Err" title="Siguiente">
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="flag_nuevo == 1">
                    <div style="position: absolute; width: 70%">
                        <div class="modal-body">
                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-if="error==1" v-for="item in errores" class="text-center text-error">
                                        <span class="help-block error" v-text="item"></span>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <center> <font v-text="titulo_modal" size="5"> </font> </center>
                                    <table class="table" style="margin-top:3%;">
                                        <tr>
                                            <td>    <b><font size="3"> Nombre de usuario: </font></b>    </td>
                                            <td>    <input readonly type="text" v-model="usuario" class="form-control" placeholder="Nombre de usuario" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Email: </font></b>    </td>
                                            <td>    <input readonly type="text" v-model="email" class="form-control" placeholder="Email del usuario" >   </td>
                                        </tr>
                                        <tr v-if="accion == 1">
                                            <td>    <b><font size="3"> Password: </font></b>    </td>
                                            <td>    <input type="text" v-model="password" class="form-control" placeholder="Password del usuario" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Telefono: </font></b>    </td>
                                            <td>    <input type="text" v-model="telefono" class="form-control" placeholder="Telefono del usuario" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Direccion: </font></b>    </td>
                                            <td>    <input type="text" v-model="direccion" class="form-control" placeholder="Direccion del usuario" >   </td>
                                        </tr>
                                        <tr>
                                            <td>    <b><font size="3"> Rol: </font></b>    </td>
                                            <td>
                                                <select class="form-control" v-model="id_rol">
                                                    <option value="0">Selecciona carrera</option>
                                                    <option v-for="item in roles" v-text="item.rol" :value="item.id"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <div style="margin-top:2%;">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="init()">Atrás</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==1" @click="registro()">Registrar</button>
                                                    <button type="button" class="btn btn-primary" v-if="accion==2" @click="actualizacion()">Actualizar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposUsuario    from '@/tipos/usuario';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                placeholder_criterio: 'Usuario a buscar',
                criterio: 'name',
                id: 0,
                usuario: '',
                email: '',
                password: '',
                direccion: '',
                telefono: '',
                id_rol: 0,
                buscar: '',
                offset: 3,
                titulo_modal: '',
                modal: 0,
                error: 0,
                errores: [],
                accion: 0,
                flag_nuevo: 0
            }
        },
        computed: {
            ...mapGetters( {
                usuarios: tiposUsuario.getters.usuarios,
                roles: tiposUsuario.getters.roles,
                paginacion: tiposUsuario.getters.paginacion,
            } ),
            paginaActiva: function() {
                return this.paginacion.pagina_actual;
            },
            numeroPaginas: function() {
                if(!this.paginacion.hasta) return [];
                var desde = this.paginacion.pagina_actual - this.offset;
                if(desde < 1)  desde = 1;
                var hasta = desde + (this.offset * 2);
                if(hasta >= this.paginacion.ultima_pagina) hasta = this.paginacion.ultima_pagina;
                var paginas_arreglo = [];
                while(desde <= hasta) {
                    paginas_arreglo.push(desde);
                    desde++;
                }
                return paginas_arreglo;
            }
        },
        methods: {
            ...mapActions( {
                fetchUsuarios: tiposUsuario.actions.fetchUsuarios,
                fetchRoles: tiposUsuario.actions.fetchRoles,
                registrar: tiposUsuario.actions.registrar,
                actualizar: tiposUsuario.actions.actualizar,
                activar: tiposUsuario.actions.activar,
            } ),
            activacion( id, estado ) {
                let data = {
                    id,
                    estado
                }
                this.activar( data )
                    .then( result => { this.init(); } )
                    .catch( err => { console.log('Error: ' + err) } );
            },
            init() {
                this.criterio = 'name';
                this.id = 0;
                this.usuario = '';
                this.email = '';
                this.password = '';
                this.direccion = '';
                this.telefono = '';
                this.id_rol = 0;
                this.modal = 0;
                this.titulo_modal = '';
                this.semestre = '';
                this.error = 0;
                this.accion = 0;
                this.flag_nuevo = 0;
                this.buscar = '';
                this.errores = [];
                this.placeholder_criterio = 'Usuario a buscar';
                this.listarUsuarios()
            },
            abrirModal(titulo, accion, data=[]){
                this.flag_nuevo = 1;
                this.titulo_modal = titulo;
                this.modal = 1;
                if(accion == 'cre') 
                    this.accion = 1;
                else if(accion == 'upd'){
                    this.accion = 2;
                    this.id = data.id;
                    this.usuario = data.name;
                    this.email = data.email;
                    this.direccion = data.direccion;
                    this.telefono = data.telefono;
                    this.id_rol = data.id_rol;
                    this.semestre = data.semestre;
                }
            },
            cambiarPagina(pagina, buscar) {
                this.paginacion.pagina_actual = pagina
                let data = { pagina, buscar }
                this.fetchUsuarios( data );
            },
            listarUsuarios( tipo ) {
                this.buscar     = tipo == 1 ? '' : this.buscar;
                this.criterio   = tipo == 0 ? this.criterio : 'name';
                this.placeholder_criterio = (tipo == 0) ? 'Email  a buscar' : 'Usuario a buscar';
                let data = {
                    pagina:  1,
                    buscar: this.buscar,
                    criterio: this.criterio,
                }
                this.fetchUsuarios(data);
            
            },
            validar() {
                let me = this;
                me.error = 0;
                me.errores = [];
                if(!me.usuario) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa nombre del usuario');
                }
                if(!me.email) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa email del usuario');
                }
                if(this.accion == 1){
                    if(!me.password) {
                        me.error = 1;
                        me.errores.push('(*) Ingresa password del usuario');
                    }
                }
                if(!me.id_rol) {
                    me.error = 1;
                    me.errores.push('(*) Ingresa rol del usuario');
                }
                return me.error == 1 ? false : true;
            },
            registro() {
                if( this.validar() ) {
                    let data = {
                        usuario: this.usuario,
                        email: this.email,
                        password: this.password,
                        telefono: this.telefono,
                        direccion: this.direccion,
                        id_rol: this.id_rol,
                    }
                    this.registrar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },
            setCriterio( tipo ) {
                this.criterio = (tipo == 0) ? 'name' : 'email';
                this.placeholder_criterio = (tipo == 0) ? 'Usuario a buscar' : 'Email a buscar';
            },
            actualizacion() {
                if( this.validar() ) {
                    let data = {
                        id: this.id,
                        telefono: this.telefono,
                        direccion: this.direccion,
                        id_rol: this.id_rol,
                    }
                    this.actualizar( data )
                        .then( result => { this.init(); } )
                        .catch( err => { console.log('Error: ' + err) } );
                }
            },  
        },
        mounted() {
            let data = {
                pagina:  1,
                buscar: '',
                criterio: this.criterio,
            }
            this.fetchUsuarios( data );
            this.fetchRoles( );
        }
    }
</script>