.mostrar{
    display: list-item !important;
    opacity: 1 !important;
    position: absolute !important;
    background-color: #3c29297a !important;
}
.error{
    text-align: center;
    color: #B22305;
    font-style: oblique;
}
.div-error{
    display: flex;
    justify-content: center;
}
.text-error{
    color: red !important;
    font-weight: bold;
}
font{
    font-family: "Times New Roman", Times, serif;
}