<template>
    <main class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header"> 
                            <h3 style="color:#666; text-align:center"> Curriculum </h3>
                            <h5 style="color:#666; text-align:center"> Materias solicitadas: {{cantidad_materias}} </h5>
                        </div>
                        <div class="card-body" v-if="materias_seleccionadas.length" style="background:white; width: 100%;">
                            <center>
                                <font size="4" > Materias a solicitar: </font>
                                <table class="table table-striped table-xs" style="width: 40%;">
                                    <tr style="background:#ccc">
                                        <th><center>Clave</center></th>
                                        <th><center>Materia</center></th>
                                        <th></th>
                                    </tr>
                                    <tr v-for="(item, index) in materias_seleccionadas" style="background:#eee;">
                                        <td><center> {{item.clave}} </center> </td>
                                        <td><center> {{item.materia}} </center> </td>
                                        <td><center> <button class="btn btn-danger btn-xs" style="margin-bottom:1%;" @click="quitar( index )">Quitar</button> </center></td>
                                    </tr>
                                    <tr style="background:#eee;">
                                        <td></td>
                                        <td></td>
                                        <td><center> <button class="btn btn-success btn-xs" @click="solicitar()" style="margin-bottom:1%;" >Solicitar</button> </center></td>
                                    </tr>
                                </table>
                            </center>
                        </div>
                        <div class="card-body">
                            <center>
                                <template v-for="semestre in semestres" >
                                    <div class="row" style="background:#eee;" >
                                        <div style="background:#ddd; width:10%;" class="col-md-1">
                                            <h1 style="color:#888">{{semestre}}</h1>
                                        </div>
                                        <template v-for="(value, key, index) in curriculum">
                                            <div v-if="curriculum[key].id_semestre == semestre" class="col-md-1" style="margin-right:1%; width:10%;">
                                                <div>
                                                    <font size="4"> {{ value.clave }} </font>
                                                </div>
                                                <div>
                                                    <button class="btn btn-success" @click="agregar(value.clave, value.materia)" style="width:110%;"> {{value.materia}} </button>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </center>
                            <div style="margin-top: 1%; float:right">
                                <a class="btn btn-danger" href="#/plan-estudio"> Atras </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import tiposAuth from '@/tipos/auth';
    import tiposMateriaSolicitadaCoordinador    from '@/tipos/materia_solicitada_coordinador';
    import {mapActions, mapGetters} from 'vuex';
    export default {
        name: '',
        data() {
            return {
                accion: 0,
                materias_seleccionadas: [],
                cantidad: 0
            }
        },
        computed: {
            ...mapGetters( {
                cantidad_materias: tiposMateriaSolicitadaCoordinador.getters.cantidad_materias,
                credenciales: tiposAuth.getters.credenciales,
                curriculum: tiposMateriaSolicitadaCoordinador.getters.curriculum,
                semestres: tiposMateriaSolicitadaCoordinador.getters.semestres,
            } ),
        },
        methods: {
            ...mapActions( {
                fetchCantidadMateriasSolicitadas: tiposMateriaSolicitadaCoordinador.actions.fetchCantidadMateriasSolicitadas,
                fetchCurriculum: tiposMateriaSolicitadaCoordinador.actions.fetchCurriculum,
                aumentarCantidad: tiposMateriaSolicitadaCoordinador.actions.aumentarCantidad,
                disminuirCantidad: tiposMateriaSolicitadaCoordinador.actions.disminuirCantidad,
                fetchRegistrarMateriasSolicitadas: tiposMateriaSolicitadaCoordinador.actions.fetchRegistrarMateriasSolicitadas,
            } ),
            quitar(index) {
                this.materias_seleccionadas.splice(index, 1);
                this.disminuirCantidad();
            },
            agregar(clave, materia) {
                for (let i = 0; i < this.materias_seleccionadas.length; i++) {
                    if( this.materias_seleccionadas[i].clave === clave ) {
                        alert('Ya seleccionaste esa materia');
                        return;
                    }
                }
                if( this.cantidad_materias <= 1 ) {
                    this.aumentarCantidad();
                    this.materias_seleccionadas.push( {clave, materia} );
                }
                else alert( 'Ya has seleccionado tus dos materias.' );
            },
            solicitar() {
                let claves = [];
                for (let i = 0; i < this.materias_seleccionadas.length; i++) {
                    claves.push( this.materias_seleccionadas[i].clave );
                }
                let data = {
                    claves,
                    usuario: this.credenciales.id
                }
                this.fetchRegistrarMateriasSolicitadas( data )
                    .then( result => { 
                        window.location="#/materias-solicitadas-coordinador";
                    } )
                    .catch( err => { console.log('Error: ' + err) } );;
            }
        },
        mounted() {
            this.fetchCantidadMateriasSolicitadas( this.credenciales.id );
            this.fetchCurriculum( this.$route.params.id );
        }
    }
</script>