<template>
    <div id="app">
        <Navegacion />
        
        <div v-if="procesando">
            <BlockUI> Procesando... </BlockUI>
        </div>

        <router-view></router-view>
        
    </div>
</template>

<script>
    import tiposGlobal from '@/tipos/global';
    import {mapGetters} from 'vuex';
    import Navegacion from '@/components/Navegacion.vue';
    export default {
        components: {
            Navegacion,
        },
        name: 'app',
        data () {
            return {
                mensaje: ''
            }
        },
        computed: {
            ...mapGetters( {
                procesando: tiposGlobal.getters.procesando
            } )
        }
    }
</script>
