<template>
    <div class="row" style="margin-top:4%;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center>
            <form method="POST" style="width=100%" @submit.prevent='validarFormulario'>
                <table width="100%">
                    <tr>
                        <td colspan="2">
                            <center>
                                <img src="public/images/default.png" width='40%' style="margin-bottom:5%">
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>    <font style="color:red;" size="3"> {{error}} </font>  </td>
                    </tr>
                    <tr>
                        <td>    <font size="3"> Email: </font>  </td>
                        <td>    <input v-model="email" type="text" class="form-control" name="email" required autofocus>    </td>
                    </tr>
                    <tr>
                        <td>    <font size="3"> Password: </font>   </td>
                        <td>    <input v-model="password" type="password" class="form-control" name="password" required>   </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-success">  Iniciar   </button>
                            <a class="btn btn-link" href="/password/reset">    Olvidaste tu contraseña?    </a>
                        </td>
                    </tr>
                </table>
            </form>
            </center>
        </div>
        <div class="col-md-4"></div>
    </div>
</template>

<script>
    import tiposAuth    from '@/tipos/auth';
    import {mapActions} from 'vuex';
    export default {
        name: 'login',
        data() {
            return {
                // csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                email:     '@hotmail.com',
                password:  '1234',
                error:     null
            }
        },
        methods: {
            ...mapActions( {
                login: tiposAuth.actions.login
            } ),
            validarFormulario() {
                this.$validator.validateAll()
                    .then( (result) => {
                        if( result ) {
                            this.login( {
                                email:      this.email,
                                password:   this.password
                            } )
                                .then( user => {
                                    this.$router.push('/');
                                }, error => {
                                    if( error.body.error ) {
                                        this.error = 'Verifica credenciales';
                                    }
                                })
                        }
                    } )
                    .catch( (error) => {
                        console.log(error);
                        this.error = true;
                    } )
            }
        },
        mounted() {
            
        }
    }
</script>